.contenedor-confirmacion{
    border: 1px solid red;
    width: 30%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.dato{
    height: 15%;
    border-bottom: 1px solid black;
    width: 100%;
}

.botones-confirmar{
    border-bottom: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12%;
    margin-top: 3%;
}

.botones-confirmar button{
    width: 40%;
    height: 80%;
}

