.contenedor-general{
    width: 70%;
    height: 100%;
    padding: 2%;
    box-shadow: 1px 2px 10px gray;

    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
}

.contenedor-numero-cuenta{
    width: 70%;
    height: 40%;
    display: flex;
    gap: 2vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1rem;
    box-shadow: 1px 2px 5px gray;

}

/* .contenedor-numero-cuenta input{
    width: 70%;
    height: 25%;
    padding: 0 5%;
    border-radius: 1rem;
    border: none;
} */

.contenedor-cuentas-registradas{
    width: 100%;
    display: flex;
    gap: 1vh;
    flex-direction: column;
}

.contenedor-frecuentes{
    padding: 1% 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


