.header-logged-div, .header-not-logged-div{
    border:1px solid red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
}
.welcome-container{
    width: 34%;
    display: flex;
    justify-content: center;
}
.log-out{
    width: 33%;
    display: flex;
    justify-content: flex-end;
}
