.nuevo-bolsillo-container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 70vh;
    text-align: center;
    overflow: hidden;
}

.nuevo-bolsillo-container h2{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

.nuevo-bolsillo-container img {
    width: 100%; 
    height: auto; 
    filter: invert(1);
    position: relative;
    transform: scale(0.7);
}

.contenedor-imagen{
    display: inline-flex; 
    width: 10%;
    height: auto; 
    margin-left: 8%;
    margin-top: 1%;
    border-radius: 50%;
    background-color: black;
}

.inputs{
    display: flex;
    flex-direction: column;
    height: 45%;
    justify-content: center;
    align-items: center;
}

.inputs input{
    width: 60%;
    height: 20%;
    background: none;
    border: none;
    outline: none;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.874);
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;
}

form{ 
    height: 85%;
}

h4{
    font-size: 20px;
    
}

.boton-crear-bolsillo{
    margin-top: 3%;
    height: 8%;
}

.boton-crear-bolsillo input{
    width: 25%;
    height: 100%;
    background: linear-gradient(142deg, rgb(103, 77, 41) 0%, rgba(255,215,0,1) 50%, rgb(187, 181, 104) 100%);
    outline: none;
    color: black;
    color: black;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
